<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/bye">byeへのリンク</a><br>
  <a href="/public/test.html">test.htmlへのリンク</a>
</body>
</html>